{% extends 'AdminArea/base.html.twig' %}
{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Customers</h1>
        </div>
        <button onclick="location.href='{{ path('AddCustomer') }}'" type="button" class="btn btn-primary">Add new customer</button>
        <button onclick="location.href='{{ path('EditCustomer') }}'" type="button" class="btn btn-primary">Edit customer</button>
        <button onclick="location.href='{{ path('RemoveCustomer') }}'" type="button" class="btn btn-primary">Delete customer</button>
{% endblock %}