{% extends 'AdminArea/base.html.twig' %}
{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Products</h1>
        </div>
        <button onclick="location.href='{{ path('AddProduct') }}'" type="button" class="btn btn-primary">Add new product</button>
        <button onclick="location.href='{{ path('EditProduct') }}'" type="button" class="btn btn-primary">Edit product</button>
        <button onclick="location.href='{{ path('RemoveProduct') }}'" type="button" class="btn btn-primary">Delete product</button>
{% endblock %}