.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
}
.alert.success {background-color: #4CAF50;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

body {
    background-color: #E5E5E5;
}

.container {
    max-width: 850px;
    padding: 10px;
    margin-bottom: 10px;
}

.main-wrapper-boxed {
    max-width: 850px;
    margin: 0 auto;
    padding: 10px;
    background-color: #FF7777;
}
.main-wrapper-boxed .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.slider {
    background-color: #CDCDCD;
}

.footer {
    color: #fff;
    padding: 10px;
    background-color: #1C1C1C;
}
.header-td{
    padding-right:20px;
}
.header-text:hover{
    text-decoration: none;
    color: #000000;
}