{% extends 'UserArea/base.html.twig' %}
{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Order report</h1>
    </div>
	<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
    <th>Id</th>
	<th>Product name</th>
    <th>Price, €</th>
    <th>Amount</th>
  </tr>
  <tr>
	<td>1</td>
    <td>Lenovo H30-05K1 E1-6010</td>
    <td>207.23</td>
    <td>1</td>
  </tr>
  <tr>
    <td>2</td>
	<td>LENOVO ThinkCentre</td>
    <td>1086.00</td>
    <td>4</td>
  </tr>
  <tr>
    <td>3</td>
	<td>Dell OptiPlex 3060</td>
    <td>663.99</td>
    <td>1</td>
  </tr>
    </table>
</div>
<p>Total amount:</p>
<button onclick="location.href='{{ path('checkout') }}'" type="button" class="btn btn-primary">Checkout</button>
</form>
{% endblock %}