{% extends 'UserArea/base.html.twig' %}
{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Choose your payment method</h1>
        </div>
        <form>
				<h3>Pay with cash</h3>
				<button onclick="" type="button" class="btn btn-primary">Choose</button>
		</form>
		<form>
				<h3>Pay with bank transfer</h3>
				<button onclick="" type="button" class="btn btn-primary">Choose</button>
        </form>
{% endblock %}