{% extends 'UserArea/base.html.twig' %}
{% block body %}
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-sm">

    <!-- choose -->

    <tr>
        <td>CPU</td>
        <td></td>
        <td><button onclick="location.href='{{ path('choose_cpu') }}'" type="button" class="btn btn-primary">Choose CPU</button></td>
         <td colspan="9"></td>
     </tr>

     <!-- end choose -->

    <!-- choose -->

    <tr>
        <td><a href="#">CPU Cooler</a></td>
        <td></td>
         <td><button type="button" class="btn btn-primary">Choose A CPU Cooler</button></td>
         <td colspan="9"></td>
     </tr>

     <!-- end choose -->

    <!-- choose -->

    <tr>
        <td><a href="#">Motherboard</a></td>
        <td></td>
         <td><button type="button" class="btn btn-primary">Choose A Motherboard</button></td>
         <td colspan="9"></td>
     </tr>

     <!-- end choose -->

    <!-- choose -->

    <tr>
        <td><a href="#">Memory</a></td>
        <td></td>
         <td><button type="button" class="btn btn-primary">Choose Memory</button></td>
         <td colspan="9"></td>
     </tr>

     <!-- end choose -->


    <!-- choose -->

    <tr>
        <td><a href="#">Storage</a></td>
        <td></td>
        <td><button type="button" class="btn btn-primary">Choose Storage</button></td>
        <td colspan="9"></td>
    </tr>

    <!-- end choose -->

    <!-- choose -->

    <tr>
        <td><a href="#">Video Card</a></td>
        <td></td>
        <td><button type="button" class="btn btn-primary">Choose A Video Card</button></td>
        <td colspan="9"></td>
    </tr>

    <!-- end choose -->

    <!-- choose -->

    <tr>
        <td><a href="#">Case</a></td>
        <td></td>
        <td><button type="button" class="btn btn-primary">Choose A Case</button></td>
        <td colspan="9"></td>
    </tr>

    <!-- end choose -->

    <!-- choose -->

    <tr>
        <td><a href="#">Power Supply</a></td>
        <td></td>
        <td><button type="button" class="btn btn-primary">Choose A Power Supply</button></td>
        <td colspan="9"></td>
    </tr>

    <!-- end choose -->


    <!-- choose -->

    <tr>
        <td><a href="#">Optical Drive</a></td>
        <td></td>
        <td><button type="button" class="btn btn-primary">Choose An Optical Drivee</button></td>
        <td colspan="9"></td>
    </tr>

    <!-- end choose -->


    <!-- choose -->

    <tr>
        <td><a href="#">Operating System</a></td>
        <td></td>
         <td><button type="button" class="btn btn-primary">Choose An Operating System</button></td>
         <td colspan="9"></td>
     </tr>

     <!-- end choose -->

    <!-- choose -->

    <tr>
        <td><a href="#">Software</a></td>
        <td></td>
        <td><button type="button" class="btn btn-primary">Choose Software</button></td>
        <td colspan="9"></td>
    </tr>

    <!-- end choose -->

    <!-- choose -->

    <tr>
        <td><a href="#">Monitor</a></td>
        <td></td>
        <td><button type="button" class="btn btn-primary">Choose A Monitor</button></td>
        <td colspan="9"></td>
    </tr>

    <!-- end choose -->

    <!-- choose -->

    <tr>
        <td><a href="#">External Storage</a></td>
        <td></td>
        <td><button type="button" class="btn btn-primary">Choose External Storagee</button></td>
        <td colspan="9"></td>
    </tr>

    </table>
    </div>
</div>

    <!-- end choose -->
{% endblock %}