{% extends 'UserArea/base.html.twig' %}
{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Most common questions</h1>
    </div>
	<p>Questions about motherboards</p>
	<button onclick="" type="button" class="btn btn-primary">Search</button>
	<p>Questions about processors</p>
	<button onclick="" type="button" class="btn btn-primary">Search</button>
	<p>Questions about hard drives</p>
	<button onclick="" type="button" class="btn btn-primary">Search</button>
	<p>...</p>
</form>
{% endblock %}