{% extends 'UserArea/base.html.twig' %}
{% block body %}

    <div class="container">Site content</div>
    <div class="container-fluid slider">
        <div class="container">Slider</div>
    </div>

    <div class="container">Site content</div>

    <div class="container-fluid footer">
        <div class="container">Footer</div>
    </div>
    </div>
{% endblock %}



