{% extends 'UserArea/base.html.twig' %}
{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Choose a category for the most popular products</h1>
    </div>
	<select name="Choose filter">
	<option value="">Select...</option>
	<option value="">Motherboards</option>
	<option value="">Hard drives</option>
	<option value="">Graphic cards</option>
	<option value="">...</option>
	</select>
	</p>
	
	<p>Ismetama lentele su populiariausiomis prekemis, pagal pasirinkti kategorija</p>
</form>
{% endblock %}