{% extends 'UserArea/base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="table-responsive">
            <br>
            <br>
            <table class="table table-striped table-sm">

                <!-- choose -->

                <tr>
                    <td>IBAN</td>
                    <td>23465675432354</td>
                </tr>

                <tr>
                    <td>UNN</td>
                    <td>
                        25791
                    </td>
                </tr>

                <tr>
                    <td>
                        SWIFT
                    </td>
                    <td>985491</td>
                </tr>

                <tr>
                    <td>
                        Bank
                    </td>
                    <td>Swedbank Kaunas, Lithuania</td>
                </tr>
                <br>
                <br>
                <tr>
                    <td>
                        Total price
                    </td>
                    <td>927.95 Eur</td>
                </tr>
                <tr>
                    <td>Transfer description </td>
                    <td>Order No.126931</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}