{% extends 'UserArea/base.html.twig' %}
{% block body %}
<div class="container">
    <div class="table-responsive">
        <br>
        <br>
        <table class="table table-striped table-sm">
            <tr>
                <td>Paypal address</td>
                <td>info@7kojos.com</td>
            </tr>
            <tr>
                <td>Total price</td>
                <td>927.36 Eur</td>
            </tr>
            <tr>
                <td>Transfer description </td>
                <td>Order No.126931</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
