{% extends 'UserArea/base.html.twig' %}
{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Suggestions</h1>
        </div>
        <button onclick="location.href='{{ path('AddSuggestion') }}'" type="button" class="btn btn-primary">Add new suggestion</button>
        <br>
        <br>
        <table class="table table-striped table-sm">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Message</th>
            </tr>
            {% for p in suggestions %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.message }}</td>
         </tr>
         {% endfor %}
        </table>
{% endblock %}