{% extends 'StaffArea/base.html.twig' %}
{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Order</h1>
        </div>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Order nr</label>
                <input type="text" class="form-control" id="orderNumber" aria-describedby="order_number" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Customer name</label>
                <input type="text" class="form-control" id="customerName" aria-describedby="customer_name" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Customer surname</label>
                <input type="text" class="form-control" id="customerSurname" aria-describedby="customer_surname" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Customer IBAN</label>
                <input type="text" class="form-control" id="customerIBAN" aria-describedby="customer_IBAN" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Customer address</label>
                <input type="text" class="form-control" id="customerAddress" aria-describedby="customer_address" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Type</label>
                <input type="text" class="form-control" id="orderType" aria-describedby="order_type" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Company VAT</label>
                <input type="text" class="form-control" id="companyVAT" aria-describedby="customer_VAT" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Company code</label>
                <input type="text" class="form-control" id="companyCode" aria-describedby="company_code" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Price</label>
                <input type="text" class="form-control" id="orderPrice" aria-describedby="order_price" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Delivery address</label>
                <input type="text" class="form-control" id="orderAddress" aria-describedby="order_address" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Additional information</label>
                <input type="text" class="form-control" id="orderInfo" aria-describedby="order_info" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
{% endblock %}